<!DOCTYPE HTML>
<html>
<head>
<title>Ejercicio 8-FORMULARIOS HTML5</title>
<meta charset="utf-8">
<meta name="description" content="Ejercicios FORMULARIOS HTML5">
<meta name="keywords" content="Ejercicios, Soluciones, FORMULARIOS, HTML5">
</head>
<body>
<script>
function BotonNormal() {
alert("Se ha pulsado el Botón .");
}
function BotonImagen() {
alert("Se ha pulsado el Botón de imagen.");
}
</script>
<h1>Utilización de botones</h1>
<button type="button" onclick="BotonNormal()">Botón</button><br><br>
<button type="button" onclick="BotonImagen()"><img src="html.png" width="200"
height="180"></button><br>
</body>
</html>