<!DOCTYPE HTML>
<html>
<head>
<title>Ejercicio INPUT</title>
<meta charset="utf-8">
<meta name="author" content="KEVIN MORENO">
<meta name="description" content="Ejercicio INPUT">
<meta name="keywords" content="Ejercicios, Soluciones, formularios, HTML5">
</head>
<body>
	<header><h2>Ejercicio 219 Input</h2></header>
<form action="envio.php" method="post" id="formulario1">
Nombre: <input type="text" name="nombre" placeholder="Nombre completo"
maxlength="60" size="50"><br><br>
Edad: <input type="number" name="edad" min="18" max="78" step="1" id="edad"
><br><br>
Fecha de Nacimiento: <input type="date" min="1940-01-01" max="2022-01-01" ><br><br>
Puntuación : <input type="number" min="0" max="20" step="1" value="0"
name="puntuacion" ><br><br>
<input type="submit" name="enviar" value="enviar datos">
</form>
<br>
<br>
<br>

<header><h2>Ejercicio 223 Input</h2></header>
<form action="envio.php" method="get" id="formulario1">
Nombre: <input type="text" name="nombre" placeholder=" Nombre completo"
maxlength="60" size="50"><br><br>
Fecha: <input type="text" name="fecha1" pattern="(0[1-9]|1[0-9]|2[0-9]|3[01]).(0[1-
9]|1[012]).[0-9]{4}
" title="DD.MM.AAAA" ><br><br>

DNI: <input type="text" name="dni" pattern="[0-9]{8}-[a-zA-Z]{1}" title="XXXXXXXX-
A"><br><br>

<input type="submit" name="enviar" value="enviar datos">
</form>

</body>
</html>


