<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="author" content="José González">
        <meta name="description" content="Ejercicios HTML5">
        <title>EJERCICIO 3</title>
    </head>
<body>
    <table border="1">  
        <caption>Tabla simple</caption>
        <thead>
            <th>Col a</th>
            <th>Col b</th>
            <th>Col c</th>
            <th>Col d</th>
        </thead>
            <tr>
                <th>Fil 1</th>
                <td>Cel b1</td>
                <td>Cel c1</td>
                <td>Cel d1</td>
            </tr>
            <tr>
                <th>Fil 2</th>
                <td>Cel b2</td>
                <td>Cel c2</td>
                <td>Cel d2</td>
            </tr>
            <tr>
                <th>Fil 3</th>
                <td>Cel b3</td>
                <td>Cel c3</td>
                <td>Cel d3</td>
            </tr>
    </table>

    <br>
    <br>
    <br>

    <table border="1">
        <caption>Nombre de la tabla</caption>
        <thead>
            <tr>
                <th rowspan="2" colspan="2"></th>
                <th rowspan="2">Columna 1</th>
                <th colspan="2">Columna 2</th>
            </tr>
            <tr>
                <th>Columna 2a</th>
                <th>Columna 2b</th>
            </tr>
        </thead>
            <tr>
                <th rowspan="3">Fila1</th>
            </tr>
            <tr>
                <th>Fila 1a</th>
                <td>123</td>
                <td>456</td>
                <td>789</td>
            </tr>
            <tr>
                <th>Fila 1b</th>
                <td>123</td>
                <td>456</td>
                <td>789</td>
            </tr>
            <tr>
                <th colspan="2">Fila 2</th>
                <td>123</td>
                <td>456</td>
                <td>789</td>
            </tr>
    </table>
    
    <br>
    <br>
    <br>
    
    <table border="1">
        <caption>Gasto doméstico Primer Semestre</caption>
        <thead>
            <tr>
                <th rowspan="2">Mes</th>
                <th colspan="4">concepto</th>
                <th rowspan="2">Total</th>
            </tr>
            <tr>
                <th>Corriente</th>
                <th>Facturas</th>
                <th>Coche</th>
                <th>Casa</th>
            </tr>
        </thead>
            <tr>
                <th>Enero</th>
                <td>-</td>
                <td>---</td>
                <td>----</td>
                <td>----</td>
                <td>----</td>
            </tr>
            <tr>
                <th>Febrero</th>
                <td>---</td>
                <td>---</td>
                <td>---</td>
                <td>---</td>
                <td>----</td>
            </tr>
            <tr>
                <th>Marzo</th>
                <td>4</td>
                <td>4</td>
                <td>7</td>
                <td>3</td>
                <td>-</td>
            </tr>
            <tr>
                <th>Abril</th>
                <td>5</td>
                <td>7</td>
                <td>6</td>
                <td>2</td>
                <td>-</td>
            </tr>
            <tr>
                <th>Junio</th>
                <td>5</td>
                <td>7</td>
                <td>6</td>
                <td>2</td>
                <td>-</td>
            </tr>
            <tr>
                <th rowspan="2">Totales</th>
                <td>---</td>
                <td>---</td>
                <td>---</td>
                <td>---</td>
                <td>---</td>
            </tr>
            <tr>
                <th>Corriente</th>
                <th>Facturas</th>
                <th>Coche</th>
                <th>Casa</th>
                <th>TOTAL</th>
            </tr>
    </table>
</body>
</html>