<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="author" content="José González">
        <meta name="description" content="Ejercicios HTML5">
        <title>EJERCICIO 4</title>
    </head>
<body>
    <header>
        <h1>Resultado de la búsqueda</h1>
    </header>
    <table border="1">
        <thead>
            <tr>
                <th>Imagen</th>
                <th>Datos</th>
            </tr>
        </thead>
            <tr>
                <td><img src="img/pc.png" width="120px" height="100px"/></td>
                <td><a href="">Pórtatil - 3 GHz - 4 GB RAM</a><br><br>
                    <a href="">Comprar:</a> <del>2.990 €</del> <strong>2.599 €</strong></td>
            </tr>
            <tr>
                <td><img src="img/cam.png" width="120px" height="100px"/></td>
                <td><a href="">Videocámara - Alta definición 1080p - 60GB</a><br><br>
                    <a href="">Comprar:</a> <del>1.099 €</del> <strong>999 €</strong></td>
            </tr>
            <tr>
                <td><img src="img/tv.png" width="120px" height="100px"/></td>
                <td><a href="">Televisor - 56" - Full HD</a><br><br>
                    <a href="">Comprar:</a> <del>1.999 €</del> <strong>1.799 €</strong></td>
            </tr>
            <tr>
                <td><img src="img/cel.jpg" width="120px" height="100px"/></td>
                <td><a href="">Móvil - 3G - Wi-Fi - 8 GB</a><br><br>
                    <a href="">Comprar:</a> <del>399 €</del> <strong>349 €</strong></td>
            </tr>
    </table>
    
    <br>
    <br>
    <br>

    <header>
        <h1>(( TITULO ))</h1>
    </header>
    <section>
        (( LOGOTIPO ))<br>
        (( MENÚ DE NAVEGACIÓN ))<br>
        (( ANUNCIO DEL PDF ))<br>
    </section>
    <article>
        <header>
            <h1>Ultimas Novedades</h1>
        </header>
        <h1>(( NOVEDAD UNO ))<br>
            (( NOVEDAD DOS ))<br>
            (( NOVEDAD TRES ))<br></h1>
    </article>
    <article>
        <header>
            <h1>Temas Populares</h1>
        </header>
            <h1>(( POPULAR A ))<br>
                (( POPULAR B ))<br>
                (( POPULAR C ))<br></h1>
    <footer>
        (( Datos copyrigth ))<br>
        (( Datos de contacto ))<br>
        (( MapaWeb, Política, etc. ))<br>
    </footer>    
    </article>
</body>
</html>