<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="author" content="José González">
        <meta name="description" content="Ejercicios HTML5">
        <title>EJERCICIO 2</title>
        <style type="text/css">
        u{
            border-bottom: 1px dotted;
            text-decoration: none;
        }
        </style>
    </head>
<body>
    <h2>La exploración espacial</h2>
   
        <p>La <strong>Exploración espacial</strong> designa los
        esfuerzos del hombre en estudiar el espacio y <br>
        sus astros desde el punto de vista cientifico
        y de su explotación económica. Estos <br>esfuerzos pueden
        involucrar tanto seres humanos viajando en naves espaciales
        como <br>satélites con recusrsos de telemetría o sondas 
        teleguiadas enviadas a otros planetas <br>(orbitando o 
        aterrizando en la superficie de estos cuerpos celestes).</p>
   
        <p>Las personas que pilotan naves espaciales, o son pasajeros 
        en ellas, se llaman <br>astronautas (en Rusia: <em>cosmonautas</em>, 
        en China: <em>taikonautas</em>). Técnicamente se <br>considera 
        astronauta a todo aquel que emprenda un vuelo sub-orbital 
        (sin entrar en <br>órbita) u orbital a como minimo 100 km de altitud
        (considerando el límite extrerno de la <br>atmósfera).</p>
    
        <p>El cielo siempre ha traido la atención de los sueños del hombre. 
        Ya en 1634 se publicó <br>la que se considera la primera novela de 
        ciencia ficción, <em>Sommiun</em> de <strong>Johannes <br>Kepler</strong>, 
        que narra im hipotético viaje a la luna. Más tarde, en 1865, 
        en una famosa <br>obra de ficción titulada <em>"De la Terre à la Lune"</em>, 
        <strong>Julio Verne</strong> escribe sobre un grupo <br>de hombres que
        viajó hasta la Luna usando un gigantesco cañón.</p>      

        <p>En francia, <strong>Georges Méliès</strong>, uno de los 
        pioneros del cine, tomaba la novela de <br>Verne para crear 
        <em>"Le voyage dans la Lune"</em> (1902), una de las primeras
        peliculas de <br>ciencia ficción en la que describía un increíble 
        viaje a la Luna. En obras como <em>"The <br>War of the Worlds"</em> 
        (1898) y <em>"The First Men in the Moon"</em> (1901), <strong>Herbert <br>George Wells</strong> también se concibieron 
        ideas de exploración del espacio y de contacto <br>con civilizaciones
        extraterrestres.</p>
            <br>
            <br>
    <h2>El Ártico ha perdido el 14% de su hielo marino <br>perenne en un solo año</h2>

        <p><strong>WASHINGTON</strong>.- El hielo perenne del Ártico 
        se redujo en un 14% durante el <br>último año, al perder 
        <strong>720.000 kilómetros cuadrados</strong>, una 
        superficie superior a la <br>Península Ibérica, según 
        datos de la <u>NASA</u></p>

        <p>Según el <u>JPL</u>, la pérdida del hielo perenne, 
        que debiera mantenerse durante todo el <br>verano, fue 
        todavía mayor y se acercó a un 50% en el momento en 
        que ese hielo se <br>desplazaba desde el Ártico oriental 
        hacia el oeste.</p>

        <p><strong>Son Nghiem</strong>, investigador del JPL ha declarado que:</p>

            <blockquote><em>"Los cambios registrados en esos años en el 
            hielo ártico son rápidos y <br>espectaculares. De mantenerse 
            la situación, ésta tendrá un impacto <br>profundo en el ambiente, 
            así como en el transporte marino y el <br>comercio."</em></blockquote>
</body>
</html>