<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="author" content="José González">
    <meta name="description" content="Ejercicios HTML5">
	<title> FIELDSET</title>
</head>
<body>
	<form name="formulario_datos" id="formulario_datos" action="Fieldset.html" method="POST">
		<fieldset form="formulario_datos" name="grupo_datos_personales">
			<legend> Datos Personales </legend>
			Nombre: <input type="text" name="nombre" value="" placeholder="Teclee nombre..."><br>
			Localidad: <input type="text" name="telefono" value="" placeholder="Teclee telefono..."><br>
		</fieldset>
		<input type="submit" name="enviar" value="Enviar Datos...">
	</form>
</body>
</html>